@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 163 25% 92%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --scrollbar: 60 2% 70%;

    /* Editor colors */
    --e-foreground: 233 14% 54%;
    --e-caret: 228 19% 56%;
    --e-selection: 228 19% 80%;
    --e-selection-match: 228 19% 80%;
    --e-gutter-foreground: 233 14% 54%;
    --e-keyword: 261 85% 35%; /* #7a5da8 */
    --e-name: 229 73% 30%; /* #464c64 */
    --e-property-name: 221 82% 45%; /* #315ea4 */
    --e-string: 92 32% 32%; /* #506b38 */
    --e-function: 221 82% 45%; /* #315ea4 */
    --e-constant: 261 85% 35%; /* #7a5da8 */
    --e-definition: 229 73% 30%; /* #464c64 */
    --e-class-name: 229 73% 30%; /* #464c64 */
    --e-number: 22 100% 45%; /* #d9823a */
    --e-type-name: 188 92% 30%; /* #096980 */
    --e-operator: 261 85% 35%; /* #7a5da8 */
    --e-url: 180 86% 35%; /* #2a9fa0 */
    --e-comment: 226 23% 20%; /* #1b1e2d */
    --e-heading: 197 100% 35%; /* #2a9fd6 */
    --e-atom: 229 73% 30%; /* #464c64 */
    --e-invalid: 348 86% 45%; /* #cc434d */
    --e-bracket: 180 86% 35%; /* #2a9fa0 */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 9% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --scrollbar: 0 0% 49%;

    /* Editor colors */
    --e-foreground: 233 14% 54%;
    --e-caret: 229 73% 86%;
    --e-selection: 232 18% 34%;
    --e-selection-match: 240 15% 10%;
    --e-gutter-foreground: 233 14% 54%;
    --e-keyword: 261 85% 79%; /* #bb9af7 */
    --e-name: 229 73% 86%; /* #c0caf5 */
    --e-property-name: 221 82% 74%; /* #7aa2f7 */
    --e-string: 89 60% 67%; /* #9ece6a */
    --e-function: 221 82% 74%; /* #7aa2f7 */
    --e-constant: 261 85% 79%; /* #bb9af7 */
    --e-definition: 229 73% 86%; /* #c0caf5 */
    --e-class-name: 229 73% 86%; /* #c0caf5 */
    --e-number: 22 100% 68%; /* #ff9e64 */
    --e-type-name: 188 92% 44%; /* #0db9d7 */
    --e-operator: 261 85% 79%; /* #bb9af7 */
    --e-url: 180 86% 85%; /* #b4f9f8 */
    --e-comment: 226 23% 34%; /* #444b6a */
    --e-heading: 197 100% 74%; /* #89ddff */
    --e-atom: 229 73% 86%; /* #c0caf5 */
    --e-invalid: 348 86% 64%; /* #ff5370 */
    --e-bracket: 180 86% 85%; /* #b4f9f8 */
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--scrollbar)) transparent;
    @apply border-border;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: hsl(var(--border));
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
